<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body>
<nav th:replace="~{fragments :: navigation}"></nav>

<div class="container me-auto">
    <div class="row py-5">
        <div class="col-10">
            <h5>Create a New Petition</h5>
            <p>Passionate about a cause that you feel others would get behind? Then lets get a petition created to rally the troops!</p>
            <hr>
            <div class="card">
                <div class="card-header bg-info">
                    <h5 class="card-title">Please fill in your petition details below:</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">
                            <label for="petitionTitle" class="form-label">Petition Title</label>
                            <input type="text" class="form-control" id="petitionTitle" name="petitionTitle" required>
                        </div>
                        <div class="mb-3">
                            <label for="petitionDescription" class="form-label">Petition Description</label>
                            <input type="text" class="form-control" id="petitionDescription" name="petitionDescription" required>
                        </div>
                        <div class="mb-3">
                            <label for="petitionAuthor" class="form-label">Petition Author</label>
                            <input type="text" class="form-control" id="petitionAuthor" name="petitionAuthor" required>
                        </div>
                        </div>
                        <div class="card-footer bg-info">
                            <button type="submit" class="btn btn-success">Create Petition</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>